[submodule "third_party/sam2"]
	path = third_party/sam2
	url = https://github.com/facebookresearch/sam2.git
[submodule "third_party/FoundationStereo"]
	path = third_party/FoundationStereo
	url = https://github.com/Pxter7777/FoundationStereo.git
[submodule "third_party/GroundingDINO"]
	path = third_party/GroundingDINO
	url = https://github.com/IDEA-Research/GroundingDINO.git
[submodule "third_party/GraspGen"]
	path = third_party/GraspGen
	url = https://github.com/NVlabs/GraspGen.git
